<!-- REMOVE class="button-activate" -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>

    <style type="text/css">
* { margin: 0; padding: 0; font-size: 100%; font-family: 'Avenir Next', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; line-height: 1.65; }

img { max-width: 100%; margin: 0 auto; display: block; }

body, .body-wrap { width: 100% !important; height: 100%; background: #f8f8f8; }

a { color: #71bc37; text-decoration: none; }

a:hover { text-decoration: underline; }

.text-center { text-align: center; }

.text-right { text-align: right; }

.text-left { text-align: left; }

.button-activate { display: inline-block; color: white; background: #71bc37; border: solid #71bc37; border-width: 10px 20px 8px; font-weight: bold; border-radius: 4px; }

.button-activate:hover { text-decoration: none; }

h1, h2, h3, h4, h5, h6 { margin-bottom: 20px; line-height: 1.25; }

h1 { font-size: 32px; }

h2 { font-size: 28px; }

h3 { font-size: 24px; }

h4 { font-size: 20px; }

h5 { font-size: 16px; }

p, ul, ol { font-size: 16px; font-weight: normal; margin-bottom: 20px; }

.container { display: block !important; clear: both !important; margin: 0 auto !important; max-width: 580px !important; }

.container table { width: 100% !important; border-collapse: collapse; }

.container .masthead { padding: 80px 0; background: #50C878; color: white; }

.container .masthead h1 { margin: 0 auto !important; max-width: 90%; text-transform: uppercase; }

.container .content { background: white; padding: 30px 35px; }

.container .content.footer { background: none; }

.container .content.footer p { margin-bottom: 0; color: #888; text-align: center; font-size: 14px; }

.container .content.footer a { color: #888; text-decoration: none; font-weight: bold; }

.container .content.footer a:hover { text-decoration: underline; }
    </style>
</head>
<body>
<table class="body-wrap">
    <tr>
        <td class="container">

            <!-- Message start -->
            <table>
                <tr>
                    <td align="center" class="masthead">

                        <h1>Bem-vindo a plataforma Autocenter Drudicar</h1>

                    </td>
                </tr>
                <tr>
                    <td class="content">

                        <h2>Olá {{ email }},</h2>

                        <p>Seu e-mail foi cadastrado como usuário da plataforma Autocenter Drudicar. 
                            Agora você só precisa confirmar e ativar sua conta clicando no abaixo,
                             e depois já pode colaborar cadastrando clientes, veículos, ordens de serviço e entre outras funcionalidades!</p>

                        <table>
                            <tr>
                                <td align="center">
                                    <p>
                                        <a href="https://deverik.com.br/" class="button-activate">Acessar plataforma</a>
                                    </p>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td class="container">

            <!-- Message start -->
            <table>
                <tr>
                    <td class="content footer" align="center">
                        <p>Enviado de <a href="#">Autocenter Drudicar</a>, R. Eng. Jaime Pinheiro Ulhôa Cintra, 1492 - Jardim Bom Retiro (Nova Veneza), Sumaré - SP, 13181-701.</p>
                        <p><a href="mailto:">hello@company.com</a></p> 
                        <p>Não foi você? Apenas ignore este e-mail.</p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
</body>
</html>
